name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      matrix:
        compiler: [gcc, clang]

    env:
      CC: ${{ matrix.compiler }}

    steps:
    - uses: actions/checkout@v2
    - name: configure
      run: ./configure --enable-warnings
    - name: make
      run: make -j$(nproc)
    - name: make install
      run: sudo make install
